* {
    margin: 0;
    padding: 0;
}

body {
    .mochiy-pop-one-regular {
        font-family: "Mochiy Pop One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    background-color: darkred;
}

.titlebar {
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    width: 200px;
    color: white;
    margin: 10px;
    flex-basis: 20%;
}